<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/main.html}"
>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Quản lý danh mục con</h4>
                <a href="/admin/category/add" style="margin-left: auto">
                    <button
                            class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal"
                    >
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                        id="add-row"
                        class="display table table-striped table-hover"
                >
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Số lượng sản phẩm</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, iterStat : ${categories}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${category.name}"></td>
                        <td>0</td>
                        <td>
                            <div class="form-button-action">
                                <a
                                        type="button"
                                        data-bs-toggle="tooltip"
                                        title=""
                                        class="btn btn-link btn-primary btn-lg"
                                        data-original-title="Edit Task"
                                        th:href="@{'/admin/category/edit/' + ${category.id}}"
                                >
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a
                                        type="button"
                                        data-bs-toggle="tooltip"
                                        title=""
                                        class="btn btn-link btn-danger"
                                        data-original-title="Remove"
                                        th:href="@{'/admin/category/delete/' + ${category.id}}"
                                        onclick="if(!confirm('Bạn có chắc chắn muốn xóa không?')) return false;"
                                >
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>