<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/user/main.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<div layout:fragment="content">
    <!-- Slide show -->
    <main class="container home">
        <section class="home__container">
            <div class="slide">
                <div class="slide__list">
                    <a href="#!">
                        <img th:src="@{user/assets/img/slide/slide-2.jpg}" alt="slide-1" class="slide__image js-slide-image">
                    </a>
                    <a href="#!">
                        <img th:src="@{user/assets/img/slide/slide-2.png}" alt="slide-3" class="slide__image js-slide-image">
                    </a>
                </div>
                <div class="slide__action">
                    <div class="slide__action-hover" onclick="plusDivs(-1)">
                        &#10094;
                    </div>
                    <div class="slide__action-btn">
                        <span class="slide__btn-hover js-slide-hover slide__white" onclick="currentDiv(0)"></span>
                        <span class="slide__btn-hover js-slide-hover" onclick="currentDiv(1)"></span>
                    </div>
                    <div class="slide__action-hover" onclick="plusDivs(1)">
                        &#10095;
                    </div>
                </div>
            </div>
        </section>
        <section class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Điện thoại nổi bật nhất</h2>
                <div class="filter-wrap">
                    <button class="filter-btn js-toggle" toggle-target="#home-filter">
                        Bộ lọc
                        <img src="/user/assets/icons/filter.svg" alt="" class="filter-btn__icon icon" />
                    </button>

                    <div id="home-filter" class="filter hide">
                        <img src="/user/assets/icons/arrow-up.png" alt="" class="filter__arrow" />
                        <h3 class="filter__heading">Bộ lọc</h3>
                        <form action="/product" method="get" class="filter__form form">
                            <div class="filter__row filter__content">
                                <div class="filter__col">
                                    <label for="keyword" class="form__label">Tên sản phẩm</label>
                                    <div class="filter__form-group">
                                        <div class="filter__form-text-input">
                                            <input
                                                    type="text"
                                                    th:name="keyword"
                                                    id="keyword"
                                                    placeholder="Nhập tên (VD: iPhone15, Samsung, Máy tính,...)"
                                                    class="filter__form-input"
                                            />
                                            <img
                                                    src="./assets/icons/search.svg"
                                                    alt=""
                                                    class="filter__form-input-icon icon"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>
                                <!-- Filter column 1 -->
                                <div class="filter__col">
                                    <label class="form__label">Giá tiền</label>
                                    <div class="filter__form-group filter__form-group--inline">
                                        <div>
                                            <label for="price_min" class="form__label form__label--small"> Tối thiểu </label>
                                            <div class="filter__form-text-input filter__form-text-input--small">
                                                <input
                                                        type="text"
                                                        name="price_min"
                                                        id="price_min"
                                                        class="filter__form-input"
                                                />
                                            </div>
                                        </div>
                                        <div>
                                            <label for="price_max" class="form__label form__label--small"> Tối đa </label>
                                            <div class="filter__form-text-input filter__form-text-input--small">
                                                <input
                                                        type="text"
                                                        name="price_max"
                                                        id="price_max"
                                                        class="filter__form-input"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>

                                <div class="filter__col">
                                    <label for="category" class="form__label">Danh mục</label>
                                    <div class="filter__form-group">
                                        <div class="filter__form-text-input">
                                            <input
                                                    type="text"
                                                    th:name="category"
                                                    id="category"
                                                    placeholder="Nhập loại (VD: Điện thoại, Máy tính, ...)"
                                                    class="filter__form-input"
                                            />
                                            <img
                                                    src="./assets/icons/search.svg"
                                                    alt=""
                                                    class="filter__form-input-icon icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="filter__form-group">
                                        <div class="form__tags">
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="tech" th:name="category" class="cart-info__checkbox-input" value="Công nghệ">
                                                </label>
                                                <label for="tech">Công nghệ</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="clothes" th:name="category" class="cart-info__checkbox-input" value="Thời trang">
                                                </label>
                                                <label for="clothes">Thời trang</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="house" th:name="category" class="cart-info__checkbox-input" value="Gia dụng">
                                                </label>
                                                <label for="house">Gia dụng</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>

                                <div class="filter__col">
                                    <label for="brand" class="form__label">Thương hiệu</label>
                                    <div class="filter__form-group">
                                        <div class="filter__form-text-input">
                                            <input
                                                    type="text"
                                                    name="brand"
                                                    id="brand"
                                                    placeholder="Nhập tên thương hiệu (VD: iphone, lenovo, ...)"
                                                    class="filter__form-input"
                                            />
                                            <img
                                                    src="./assets/icons/search.svg"
                                                    alt=""
                                                    class="filter__form-input-icon icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="filter__form-group">
                                        <div class="form__tags">
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="apple" name="brand" class="cart-info__checkbox-input" value="apple">
                                                </label>
                                                <label for="apple">Apple</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="samsung" name="brand" class="cart-info__checkbox-input" value="samsung">
                                                </label>
                                                <label for="samsung">SamSung</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="oppo" name="brand" class="cart-info__checkbox-input" value="opppo">
                                                </label>
                                                <label for="oppo">Oppo</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="xiaomi" name="brand" class="cart-info__checkbox-input" value="xiaomi">
                                                </label>
                                                <label for="xiaomi">Xiaomi</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>
                                <div class="filter__col">
                                    <label class="form__label">Bộ nhớ trong</label>
                                    <div class="filter__form-group">
                                        <div class="filter__form-text-input">
                                            <input
                                                    type="text"
                                                    th:name="memory"
                                                    id="memory"
                                                    placeholder="Nhập bộ nhớ (VD: 32GB, 64GB, 128GB,...)"
                                                    class="filter__form-input"
                                            />
                                            <img
                                                    src="./assets/icons/search.svg"
                                                    alt=""
                                                    class="filter__form-input-icon icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="filter__form-group">
                                        <div class="form__tags">
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="32gb" name="memory" class="cart-info__checkbox-input" value="32GB">
                                                </label>
                                                <label for="32gb">32gb</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="64gb" name="memory" class="cart-info__checkbox-input" value="64GB">
                                                </label>
                                                <label for="64gb">64GB</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="128GB" name="memory" class="cart-info__checkbox-input" value="128GB">
                                                </label>
                                                <label for="128GB">128GB</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="254gb" name="memory" class="cart-info__checkbox-input" value="254GB">
                                                </label>
                                                <label for="254gb">254GB</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>
                                <div class="filter__col">
                                    <label for="ram" class="form__label">Ram</label>
                                    <div class="filter__form-group">
                                        <div class="filter__form-text-input">
                                            <input
                                                    type="text"
                                                    th:name="ram"
                                                    id="ram"
                                                    placeholder="Nhập ram(VD: 4GB, 8GB, 16GB,...)"
                                                    class="filter__form-input"
                                            />
                                            <img
                                                    src="./assets/icons/search.svg"
                                                    alt=""
                                                    class="filter__form-input-icon icon"
                                            />
                                        </div>
                                    </div>
                                    <div class="filter__form-group">
                                        <div class="form__tags">
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="ram4gb" name="memory" class="cart-info__checkbox-input" value="4GB">
                                                </label>
                                                <label for="ram4gb">4GB</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="ram8gb" name="memory" class="cart-info__checkbox-input" value="8GB">
                                                </label>
                                                <label for="ram8gb">8GB</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="ram16gb" name="memory" class="cart-info__checkbox-input" value="16GB">
                                                </label>
                                                <label for="ram16gb">16GB</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter__separate"></div>
                                <div class="filter__col">
                                    <label for="ram" class="form__label">Sắp xếp</label>
                                    <div class="filter__form-group">
                                        <div class="form__tags">
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="price-desc" name="orderBy" class="cart-info__checkbox-input" value="price_desc">
                                                </label>
                                                <label for="price-desc">Giá cao -> thấp</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="price-asc" name="orderBy" class="cart-info__checkbox-input" value="price_asc">
                                                </label>
                                                <label for="price-asc">Giá thấp -> cao</label>
                                            </div>
                                            <div class="search-form">
                                                <label class="cart-info__checkbox">
                                                    <input type="checkbox" id="tồn kho" name="orderBy" class="cart-info__checkbox-input" value="quantity_desc">
                                                </label>
                                                <label for="tồn kho">Số lượng tồn kho</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__row filter__footer">
                                <button class="btn btn--text filter__cancel js-toggle" toggle-target="#home-filter">
                                    Tiếp tục
                                </button>
                                <button
                                        class="btn btn--primary filter__submit"
                                        toggle-target="#home-filter"
                                >
                                    Tìm kiếm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row row-cols-5 row-cols-xl-3 row-cols-md-2 g-3 g-md-2 g-sm-1">
                <!-- Product card 1 -->
                <div class="col" th:each="product : *{products}">
                    <article class="product-card">
                        <div class="product-card__img-wrap">
                            <a th:href="@{'/product/' + ${product.id}}">
                                <img th:src="@{'/image/' + ${product.image}}" alt="" class="product-card__thumb" />
                            </a>
                            <!--like-btn like-btn--liked product-card__like-btn-->
                            <button
                                    sec:authorize="isAuthenticated()"
                                    class="like-btn product-card__like-btn ajax-favourite__btn"
                                    th:classappend="${favouriteList != null and favouriteList.contains(product.id) ? 'like-btn--liked' : ''}"
                                    th:data-product-id="${product.id}"
                            >
                                <img src="/user/assets/icons/heart.svg" alt="" class="like-btn__icon icon" />
                                <img src="/user/assets/icons/heart-red.svg" alt="" class="like-btn__icon--liked" />
                            </button>
                        </div>
                        <h3 class="product-card__title">
                            <a th:href="@{'/product/' + ${product.id}}"
                               th:text="${product.name}"></a>
                        </h3>
                        <div class="product-card__row">
                            <p class="product-card__brand" th:text="${brandService.findById(product.brand_id).name}"></p>
                            <img th:src="@{/user/assets/icons/star.svg}" alt="" class="product-card__star" />
                            <span class="product-card__score">4.3</span>
                        </div>
                        <div class="product-card__row">
                            <span
                                    class="product-card__price"
                                    th:utext="${#numbers.formatDecimal(product.price - (product.price * product.promotionRate / 100), 0, 'COMMA', 0, 'POINT')} + 'đ'"
                            >
                            </span>
                            <span
                                    class="product-card__discount"
                                    th:utext="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"
                            >
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
</div>