<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/main.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
</head>
<div layout:fragment="content">
    <!-- MAIN -->
    <main class="product-page">
        <div class="container">
            <!-- Search bar -->
            <div class="product-container">
                <div class="search-bar d-none d-md-flex">
                    <input type="text" name="" id="" placeholder="Search for item" class="search-bar__input" />
                    <button class="search-bar__submit">
                        <img th:src="@{/user/assets/icons/search.svg}" alt="" class="search-bar__icon icon" />
                    </button>
                </div>
            </div>

            <!-- Breadcrumbs -->
            <div class="product-container">
                <ul class="breadcrumbs">
                    <li>
                        <a href="/" class="breadcrumbs__link">
                            Trang chủ
                            <img th:src="@{/user/assets/icons/arrow-right.svg}" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="/product" class="breadcrumbs__link">
                            Sản phẩm
                            <img th:src="@{/user/assets/icons/arrow-right.svg}" alt="" />
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/product/' + ${product.id}}" class="breadcrumbs__link">
                            Chi tiết
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Product info -->
            <div class="product-container prod-info-content">
                <div class="row">
                    <div class="col-5 col-xl-6 col-lg-12">
                        <div class="prod-preview">
                            <div class="prod-preview__slide">
                                <div class="prod-preview__list" id="previewList">
                                    <div class="prod-preview__item" th:each="product_detail, index : ${detail}">
                                        <img th:src="@{'/image/' + ${product_detail.image}}" alt="" class="prod-preview__img" />
                                    </div>
                                </div>
                            </div>
                            <div class="prod-preview__thumbs">
                                <!--prod-preview__thumb-img--current-->
                                <img th:each="product_detail, index : ${detail}" th:src="@{'/image/' + ${product_detail.image}}" alt="" class="prod-preview__thumb-img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-xl-6 col-lg-12">
                        <form action="" class="form">
                            <section class="prod-info">
                                <h1
                                    class="prod-info__heading"
                                    th:text="${product.name}"
                                >
                                </h1>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="prod-prop">
                                            <img th:src="@{/user/assets/icons/star.svg}" alt="" class="prod-prop__icon" />
                                            <h4 class="prod-prop__title">(3.5) 1100 reviews</h4>
                                        </div>
                                        <div class="form__group">
                                            <label for="product-detail" class="form__label form-card__label">
                                                Chọn loại sản phẩm
                                            </label>
                                            <div class="form__text-input">
                                                <select id="product-detail" class="form__input">
                                                    <option th:each="product_detail, index : ${detail}" th:text="${product_detail.sku}" th:data-price="${product_detail.price}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="prod-props">
                                            <div class="prod-prop">
                                                <img
                                                        th:src="@{/user/assets/icons/document.svg}"
                                                        alt=""
                                                        class="prod-prop__icon icon"
                                                />
                                                <h4 class="prod-prop__title">Đổi hàng miễn phí sau 15 ngày</h4>
                                            </div>
                                            <div class="prod-prop">
                                                <img
                                                        th:src="@{/user/assets/icons/buy.svg}"
                                                        alt=""
                                                        class="prod-prop__icon icon"
                                                />
                                                <div>
                                                    <h4 class="prod-prop__title">Giao hàng</h4>
                                                    <p class="prod-prop__desc">Giao hàng nhanh chóng từ 1 đến 3 ngày</p>
                                                </div>
                                            </div>
                                            <div class="prod-prop">
                                                <img
                                                        th:src="@{/user/assets/icons/bag.svg}"
                                                        alt=""
                                                        class="prod-prop__icon icon"
                                                />
                                                <div>
                                                    <h4 class="prod-prop__title">Ship</h4>
                                                    <p class="prod-prop__desc">Free ship cho đơn hàng trên 50k</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="prod-info__card">
                                            <div class="prod-info__row">
                                                <span class="prod-info__price">$500.00</span>
                                                <span class="prod-info__tax">10%</span>
                                            </div>
                                            <p class="prod-info__total-price js-price-select" th:utext="${#numbers.formatDecimal(product.price - (product.price * product.promotionRate / 100), 0, 'COMMA', 0, 'POINT')} + 'đ'">
                                            <div class="prod-info__row">
                                                <button class="btn btn--primary prod-info__add-to-cart">
                                                    Thêm vào giỏ hàng
                                                </button>
                                                <button class="like-btn prod-info__like-btn">
                                                    <img
                                                            th:src="@{/user/assets/icons/heart.svg}"
                                                            alt=""
                                                            class="like-btn__icon icon"
                                                    />
                                                    <img
                                                            th:src="@{/user/assets/icons/heart-red.svg}"
                                                            alt=""
                                                            class="like-btn__icon--liked"
                                                    />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Product content -->
            <div class="product-container">
                <div class="prod-tab js-tabs">
                    <ul class="prod-tab__list">
                        <li class="prod-tab__item prod-tab__item--current">Mô tả sản phẩm</li>
                        <li class="prod-tab__item">Đánh giá (1100)</li>
                        <li class="prod-tab__item">Tương tự</li>
                    </ul>
                    <div class="prod-tab__contents">
                        <div class="prod-tab__content prod-tab__content--current">
                            <div class="row">
                                <div class="col-8 col-xl-10 col-lg-12">
                                    <div class="text-content prod-tab__text-content" th:utext="${product.description}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prod-tab__content">
                            <div class="prod-content">
                                <h2 class="prod-content__heading">Khách hàng của chúng tôi đã nói gì ?</h2>
                                <div class="row row-cols-3 gx-lg-2 row-cols-md-1 gy-md-3">
                                    <!-- Review card 1 -->
                                    <div class="col">
                                        <div class="review-card">
                                            <div class="review-card__content">
                                                <img
                                                        th:src="@{/user/assets/img/avatar/avatar-1.png}"
                                                        alt=""
                                                        class="review-card__avatar"
                                                />
                                                <div class="review-card__info">
                                                    <h4 class="review-card__title">Jakir Hussen</h4>
                                                    <p class="review-card__desc">
                                                        Great product, I love this Coffee Beans
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="review-card__rating">
                                                <div class="review-card__star-list">
                                                    <img
                                                            th:src="@{/user/assets/icons/star.svg}"
                                                            alt=""
                                                            class="review-card__star"
                                                    />
                                                    <img
                                                            th:src="@{/user/assets/icons/star.svg}"
                                                            alt=""
                                                            class="review-card__star"
                                                    />
                                                    <img
                                                            th:src="@{/user/assets/icons/star.svg}"
                                                            alt=""
                                                            class="review-card__star"
                                                    />
                                                    <img
                                                            th:src="@{/user/assets/icons/star-half.svg}"
                                                            alt=""
                                                            class="review-card__star"
                                                    />
                                                    <img
                                                            th:src="@{/user/assets/icons/star-blank.svg}"
                                                            alt=""
                                                            class="review-card__star"
                                                    />
                                                </div>
                                                <span class="review-card__rating-title">(3.5) Review</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prod-tab__content">
                            <div class="prod-content">
                                <h2 class="prod-content__heading">Các mặt hàng tương tự bạn có thể thích</h2>
                                <div
                                        class="row row-cols-6 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-2"
                                >
                                    <!-- Product card 1 -->
                                    <div class="col" th:each="product : ${similar_product}">
                                        <article class="product-card">
                                            <div class="product-card__img-wrap">
                                                <a th:href="@{'/product/' + ${product.id}}">
                                                    <img th:src="@{'/image/' + ${product.image}}" alt="" class="product-card__thumb" />
                                                </a>
                                                <!--like-btn like-btn--liked product-card__like-btn-->
                                                <button class="like-btn like-btn--liked product-card__like-btn">
                                                    <img src="/user/assets/icons/heart.svg" alt="" class="like-btn__icon icon" />
                                                    <img src="/user/assets/icons/heart-red.svg" alt="" class="like-btn__icon--liked" />
                                                </button>
                                            </div>
                                            <h3 class="product-card__title">
                                                <a th:href="@{'/product/' + ${product.id}}"
                                                   th:text="${product.name}"></a>
                                            </h3>
                                            <div class="product-card__row">
                                                <p class="product-card__brand" th:text="${brandService.findById(product.brand_id).name}"></p>
                                                <img th:src="@{/user/assets/icons/star.svg}" alt="" class="product-card__star" />
                                                <span class="product-card__score">4.3</span>
                                            </div>
                                            <div class="product-card__row">
                                                <span
                                                        class="product-card__price"
                                                        th:utext="${#numbers.formatDecimal(product.price - (product.price * product.promotionRate / 100), 0, 'COMMA', 0, 'POINT')} + 'đ'"
                                                >
                                                </span>
                                                <span
                                                        class="product-card__discount"
                                                        th:utext="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"
                                                >
                                                </span>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>