<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<div layout:fragment="header">
    <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/" class="logo">
                <img
                        th:src="@{/user/assets/icons/logo.svg}" alt="Tona Mart" class="logo__img"
                        height="20"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
    >
        <div class="container-fluid">

            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-user dropdown hidden-caret" sec:authorize="isAuthenticated()">
                    <a
                            class="dropdown-toggle profile-pic"
                            data-bs-toggle="dropdown"
                            href="#"
                            aria-expanded="false"
                    >
                        <div class="avatar-sm">
                            <img
                                    th:src="@{'/image/' + ${#authentication.principal.avatarUrl}}"
                                    alt="..."
                                    class="avatar-img rounded-circle"
                            />
                        </div>
                        <span class="profile-username">
                          <span class="op-7">Hi,</span>
                          <span class="fw-bold" th:text="${#authentication.principal.fullName}"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg">
                                        <img
                                                th:src="@{'/image/' + ${#authentication.principal.avatarUrl}}"
                                                alt="image profile"
                                                class="avatar-img rounded"
                                        />
                                    </div>
                                    <div class="u-text">
                                        <h4 th:text="${#authentication.principal.fullName}"></h4>
                                        <p class="text-muted" th:text="${#authentication.principal.email}"></p>
                                        <a
                                                href="/profile"
                                                class="btn btn-xs btn-secondary btn-sm"
                                        >View Profile</a
                                        >
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/profile">Hồ sơ</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <form id="logoutForm" action="/logout" method="post" style="display:none;">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                </form>
                                <a href="#" class="logout-link dropdown-item" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                                <script>
                                    document.querySelector('a.logout-link').addEventListener('click', function(event) {
                                        event.preventDefault(); // Ngăn không cho thẻ <a> thực hiện hành động mặc định
                                        document.getElementById('logoutForm').submit(); // Gửi form
                                    });
                                </script>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>