<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user/main.html}"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đơn hàng</title>
</head>
<div layout:fragment="content">
    <main class="profile">
        <div class="container">
            <!-- Search bar -->
            <div class="profile-container">
                <div class="search-bar d-none d-md-flex">
                    <input type="text" name="" id="" placeholder="Search for item" class="search-bar__input" />
                    <button class="search-bar__submit">
                        <img src="/user/assets/icons/search.svg" alt="" class="search-bar__icon icon" />
                    </button>
                </div>
            </div>

            <!-- Profile content -->
            <div class="profile-container">
                <div class="row gy-md-3">
                    <div class="col-3 col-xl-4 d-lg-none">
                        <aside class="profile__sidebar">
                            <!-- User -->
                            <div class="profile-user">
                                <a href="/profile">
                                    <img
                                            th:src="@{'/image/' + ${userAdvice.getAvatarUrl}}"
                                            alt=""
                                            class="profile-user__avatar"
                                    />
                                </a>
                                <h1 class="profile-user__name" th:text="${userAdvice.getFullName}"></h1>
                                <p class="profile-user__desc" th:text="${'Ngày tham gia: ' + #dates.format(userAdvice.getUserConfig.created_at, 'dd/MM/yyyy')}"></p>
                            </div>

                            <div layout:insert="~{layout/user/leftmenu :: leftmenu}"></div>
                        </aside>
                    </div>
                    <div class="col-9 col-xl-8 col-lg-12">
                        <div class="cart-info">
                            <div class="row gy-3">
                                <div class="col-12">
                                    <h2 class="cart-info__heading">
                                        <a href="/profile">
                                            <img
                                                    src="/user/assets/icons/arrow-left.svg"
                                                    alt=""
                                                    class="icon cart-info__back-arrow"
                                            />
                                        </a>
                                        Danh sách đơn hàng đã đặt
                                    </h2>
                                    <section class="table__body">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th> STT </th>
                                                <th> Mã đơn hàng </th>
                                                <th> Tổng tiền </th>
                                                <th> Trạng thái </th>
                                                <th> Ngày đặt </th>
                                                <th>Hành động</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="order, index : ${orders}">
                                                <td th:text="${index.index + 1}"> </td>
                                                <td th:text="${order.id}"> </td>
                                                <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')} + 'đ'"> </td>
                                                <td>
                                                    <p th:if="${order.status.equals(order.status.PENDING)}" class="status pending">Chờ xác nhận</p>
                                                    <p th:if="${order.status.equals(order.status.CONFIRMED)}" class="status CANCELLED">Đã xác nhận</p>
                                                    <p th:if="${order.status.equals(order.status.SHIPPING)}" class="status CANCELLED">Đang giao hàng</p>
                                                    <p th:if="${order.status.equals(order.status.DELIVERED)}" class="status delivered">Đã giao hàng</p>
                                                    <p th:if="${order.status.equals(order.status.CANCELLED)}" class="status cancelled">Đã hủy</p>
                                                </td>
                                                <td th:text="${#temporals.format(order.orderDate, 'HH:mm dd/MM/yyyy')}"> </td>
                                                <td>
                                                    <a th:href="@{'/order/' + ${order.id}}">Xem chi tiết</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>