<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/main.html}">
<head>
    <meta charset="UTF-8">
    <title>Thêm danh mục</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Biến thể sản phẩm</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="/admin">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/admin/variations">Biến thể sản phẩm</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/admin/variations/add">Thêm mới</a>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Thêm mới biến thể</h4>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/admin/variations/add}" method="post" th:object="${variationRequest}">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Tên biến thể</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nhập tên biến thể" />
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        </small>
                    </div>
                </div>
                <div class="card-action">
                    <input type="submit" class="btn btn-success" value="Thêm mới"/>
                    <a href="/admin/variations" class="btn btn-danger">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
