<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/main.html}"
>
<div layout:fragment="content">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Biến thể</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="/admin">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/admin/variations">Biến thể sản phẩm</a>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Quản lí biến thể sản phẩm</h4>
                <a href="/admin/variations/add" style="margin-left: auto">
                    <button
                            class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal"
                    >
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button>
                </a>
            </div>
        </div>
        <div class="card-header">
            <div class="card-body">
                <div class="table-responsive">
                    <span class="text-danger" th:if = "${variations.size() == 0}">Không có biến thể nào được quản lý</span>
                    <table
                            class="display table table-striped table-bordered"
                            th:if = "${variations.size() > 0}"
                    >
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên thông số</th>
                            <th>Các giá trị</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="variation, index : ${variations}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${variation.name}"></td>
                            <td th:text="${optionService.findAllById(variation.getOptions_id())}"></td>
                            <td>
                                <div class="form-button-action">
                                    <a
                                            th:href="@{'/admin/variations/edit/' + ${variation.id}}"
                                            class="btn btn-link btn-primary"
                                    >
                                        <i class="fa fa-edit"></i>
                                        Sửa
                                    </a>
                                    <a
                                            th:href="@{'/admin/variations/delete/' + ${variation.id}}"
                                            onclick="if(!confirm('Bạn có chắc chắn muốn xóa không?')) return false;"
                                            class="btn btn-link btn-danger"
                                    >
                                        <i class="fa fa-trash"></i>
                                        Xóa
                                    </a>
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="d-flex align-items-center">
                <span class="card-title" th:if="${categories.size() > 0}">Chi tiết biến thể từng danh mục</span>
            </div>
        </div>
        <div th:each="category: ${categories}" th:if="${category.variations_id.size() > 0}">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <span class="h5 text-primary" th:text="${category.name}"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table
                            id="add-row"
                            class="display table table-striped table-bordered "
                    >
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên thông số</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="variation_id, iteStat : ${category.variations_id}">
                            <th:block th:with="variation=${variationService.findById(variation_id)}">
                                <td th:text="${iteStat.count}"></td>
                                <td th:text="${variation.getName()}"></td>
                            </th:block>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>