<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div class="container" layout:fragment="footer">
  <div class="footer__row">
    <!-- Footer column 1 -->
    <div class="footer__col">
      <!-- Logo -->
      <a href="./" class="logo footer__logo">
        <img th:src="@{/user/assets/icons/logo.svg}" alt="Tona Mart" class="logo__img" />
        <h1 class="logo__title">Tona Mart</h1>
      </a>
      <p class="footer__desc">
        Tona Mart rất hân hành được đồng hành cùng bạn. Nếu cần trao đổi về công việc hãy liên hệ với ông chủ của chúng tôi, số điện thoại: 0985060124.
      </p>

      <p class="footer__help-text">Đăng kí email để nhận thông báo từ chúng tôi.</p>
      <form action="/subscribe" method="post" class="footer__form">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <input type="text" name="email" class="footer__input" placeholder="Địa chỉ email" />
        <button class="btn btn--primary">Gửi</button>
      </form>
    </div>

    <!-- Footer column 2 -->
    <div class="footer__col">
      <h3 class="footer__heading">Shop</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Giảm giá</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Sản phẩm mới</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Bán chạy</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Tin tức</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 3 -->
    <div class="footer__col">
      <h3 class="footer__heading"> Trợ giúp</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Giao hàng</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Trạng thái đơn hàng</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 4 -->
    <div class="footer__col">
      <h3 class="footer__heading">Công ty</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Dịch vụ khách hàng</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Điều khoản</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Chính sách bảo mật</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Chính sách hoàn trả</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Chính sách cookie</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Chính sách bảo mật</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 5 -->
    <div class="footer__col">
      <h3 class="footer__heading">Liên hệ</h3>
      <ul class="footer__list">
        <li>
          <p class="footer__label">Email</p>
          <a href="mailto:contact@Tona Mart.com" class="footer__link"> contact@Tona Mart.com </a>
        </li>
        <li>
          <p class="footer__label">Hotline</p>
          <a href="tel:18008888" class="footer__link">18008888</a>
        </li>
        <li>
          <p class="footer__label">Địa chỉ</p>
          <p class="footer__text">
            357 Lê Hoàng Phương, Cầu Giấy, Hà Nội
          </p>
        </li>
        <li>
          <p class="footer__label">Giờ làm việc</p>
          <p class="footer__text">
            Thứ 2 - Thứ 6: 8:00 - 17:00
            </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">© 2020 - 2025 Tona Mart. By Hoàng Phương đẹp troai (Zero Coder)</p>

    <div class="footer__socials">
      <a href="#!" class="footer__social-link footer__social-link--facebook">
        <img th:src="@{/user/assets/icons/facebook.svg}" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--youtube">
        <img th:src="@{/user/assets/icons/youtube.svg}" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--tiktok">
        <img th:src="@{/user/assets/icons/tiktok.svg}" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--twitter">
        <img th:src="@{/user/assets/icons/twitter.svg}" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--linkedin">
        <img th:src="@{/user/assets/icons/linkedin.svg}" alt="" class="footer__social-icon" />
      </a>
    </div>
  </div>
</div>
