<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div layout:fragment="leftmenu">
    <!-- Menu 1 -->
    <div class="profile-menu">
        <h3 class="profile-menu__title">Quản lý tài khoản</h3>
        <ul class="profile-menu__list">
            <li>
                <a href="/profile/edit" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/profile.svg}" alt="" class="icon" />
                    </span>
                    Thông tin cá nhân
                </a>
            </li>
            <li>
                <a href="" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/location.svg}" alt="" class="icon" />
                    </span>
                    Địa chỉ
                </a>
            </li>
            <li>
                <a href="#!" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/shield.svg}" alt="" class="icon" />
                    </span>
                    Đổi mật khẩu
                </a>
            </li>
        </ul>
    </div>

    <!-- Menu 2 -->
    <div class="profile-menu">
        <h3 class="profile-menu__title">Đơn hàng của tôi</h3>
        <ul class="profile-menu__list">
            <li>
                <a href="#!" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/download.svg}" alt="" class="icon" />
                    </span>
                    Lịch sử mua hàng
                </a>
            </li>
            <li>
                <a href="#!" class="profile-menu__link">
                        <span class="profile-menu__icon">
                            <img th:src="@{/user/assets/icons/heart.svg}" alt="" class="icon" />
                        </span>
                    Lists
                </a>
            </li>
            <li>
                <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img th:src="@{/user/assets/icons/gift-2.svg}" alt="" class="icon" />
                                                </span>
                    Registries
                </a>
            </li>
        </ul>
    </div>

    <!-- Menu 3 -->
    <div class="profile-menu">
        <h3 class="profile-menu__title">Subscriptions & plans</h3>
        <ul class="profile-menu__list">
            <li>
                <a href="#!" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/shield.svg}" alt="" class="icon" />
                    </span>
                    Protection plans
                </a>
            </li>
        </ul>
    </div>

    <!-- Menu 4 -->
    <div class="profile-menu">
        <h3 class="profile-menu__title">Customer Service</h3>
        <ul class="profile-menu__list">
            <li>
                <a href="#!" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/info.svg}" alt="" class="icon" />
                    </span>
                    Help
                </a>
            </li>
            <li>
                <a href="#!" class="profile-menu__link">
                    <span class="profile-menu__icon">
                        <img th:src="@{/user/assets/icons/danger.svg}" alt="" class="icon" />
                    </span>
                    Terms of Use
                </a>
            </li>
        </ul>
    </div>
</div>