<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tona Mart</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/user/assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/user/assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/user/assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/user/assets/favicon/site.webmanifest}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="csrf-token" th:content="${_csrf.token}" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/user/assets/fonts/stylesheet.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/user/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/table.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/loader.css}" />
    <script th:src="@{/user/assets/js/scripts.js}"></script>
</head>
<body>
    <!-- Header -->
    <header id="header" class="header" layout:insert="~{layout/user/header :: header}"></header>
    <!-- Toast -->
    <div class="notifications">
    </div>
    <div layout:insert="~{layout/user/toast :: toast}"></div>
    <!-- MAIN -->
    <div layout:fragment="content"></div>

    <!-- Footer -->
    <footer id="footer" class="footer" layout:insert="~{layout/user/footer :: footer}"></footer> <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

    <!-- Scripts -->
    <script th:src="@{/user/assets/js/ajax.js}"></script>
    <script th:src="@{/user/assets/js/loader.js}"></script>
</body>
</html>
