<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div layout:fragment="toast">
    <div th:if="${param.addressSave}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Địa chỉ', 'Đã cập nhật địa chỉ thành công');
            });
        </script>
    </div>
    <div th:if="${param.passwordChange}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Đã thay đổi mật khẩu thành công');
            });
        </script>
    </div>
    <div th:if="${param.profileSave}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Thông tin', 'Đã cập nhật thông tin cá nhân thành công');
            });
        </script>
    </div>
    <div th:if="${param.paymentSave}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Thông tin', 'Đã cập nhật thông tin thanh toán thành công');
            });
        </script>
    </div>
    <div th:if="${param.paymentDelete}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Thông tin', 'Đã xóa thông tin thanh toán thành công');
            });
        </script>
    </div>
    <div th:if="${param.shippingCartEmpty}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('error', 'fa-solid fa-circle-xmark', 'Giỏ hàng', 'Giỏ hàng trống, không thể vào trang thanh toán');
            });
        </script>
    </div>
    <div th:if="${param.saveShippingAddressSuccess}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Địa chỉ', 'Đã lưu địa chỉ giao hàng thành công');
            });
        </script>
    </div>
    <div th:if="${param.deleteShippingAddressSuccess}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Địa chỉ', 'Đã xóa địa chỉ giao hàng thành công');
            });
        </script>
    </div>
    <div th:if="${param.orderFailed}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('error', 'fa-solid fa-circle-xmark', 'Đơn hàng', 'Đơn hàng có sản phẩm vượt quá số lượng tồn kho, vui lòng kiểm tra lại');
            });
        </script>
    </div>
    <div th:if="${param.orderSuccess}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('success', 'fa-solid fa-circle-check', 'Đơn hàng', 'Đặt hàng thành công');
            });
        </script>
    </div>
    <div th:if = "${param.adship}">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                createToast('warning', 'fa-solid fa-circle-xmark', 'Thông báo', 'Vui lòng chọn địa chỉ giao hàng và phương thức giao hàng');
            });
        </script>
    </div>
</div>