
<!DOCTYPE html>
<html lang="en"

>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập | Tona Mart</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/user/assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/user/assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/user/assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/user/assets/favicon/site.webmanifest}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/user/assets/fonts/stylesheet.css}" />


    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/user/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/loader.css}" />

    <script th:src="@{/user/assets/js/scripts.js}"></script>
</head>
<body>
<main class="auth">
    <!-- Auth intro -->
    <div class="auth__intro d-md-none">
        <img th:src="@{user/assets/img/auth/forgot-password.png}" alt="" class="auth__intro-img" />
    </div>

    <!-- Auth content -->
    <div class="auth__content">
        <div class="auth__content-inner">
            <a href="/" class="logo">
                <img th:src="@{user/assets/icons/logo.svg}" alt="grocerymart" class="logo__img" />
                <h2 class="logo__title">grocerymart</h2>
            </a>
            <h1 class="auth__heading">Quên mật khẩu?</h1>
            <p class="auth__desc">Nhập email của bạn để nhận liên kết đặt lại mật khẩu</p>
            <div class="auth__message message message--success" th:if="${success}">
                Chúng tôi sẽ gửi liên kết đặt lại mật khẩu đến email của bạn
            </div>
            <div class="auth__message message message--success" th:if="${expired}">
                Đường dẫn hết hạn hoặc không hợp lệ
            </div>
            <form action="/forgot-password" method="post" class="form auth__form auth__form-forgot">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                name="email"
                                type="email"
                                placeholder="Email"
                                class="form__input"
                        />
                    </div>
                    <p
                        class="form__error"
                        th:if="${error}"
                    >
                        Không tồn tại tài khoản với email này
                    </p>
                </div>
                <div class="form__group auth__btn-group">
                    <button class="btn btn--primary auth__btn form__submit-btn">Gửi liên kết đặt lại mật khẩu</button>
                </div>
            </form>

            <p class="auth__text">
                <a href="/login" class="auth__link auth__text-link">Quay lại đăng nhập</a>
            </p>
        </div>
    </div>
</main>
<!-- Scripts -->
<script th:src="@{/user/assets/js/ajax.js}"></script>
<script th:src="@{/user/assets/js/loader.js}"></script>
</body>
</html>
