
<!DOCTYPE html>
<html lang="en"

>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập | Tona Mart</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/user/assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/user/assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/user/assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/user/assets/favicon/site.webmanifest}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/user/assets/fonts/stylesheet.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/user/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/loader.css}" />

    <script th:src="@{/user/assets/js/scripts.js}"></script>
</head>
<body>
<main class="auth">

    <!-- Sự kiện   -->
    <div>
        <div th:if="${param.logout}">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    console.log('logout');
                    createToast('info', 'fa-solid fa-circle-info', 'Thông báo', 'Bạn đã đăng xuất khỏi hệ thống.');
                });
            </script>
        </div>
        <div th:if="${param.register}">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    createToast('info', 'fa-solid fa-circle-info', 'Thông báo', 'Bạn đã đăng kí tài khoản thành công.');
                });
            </script>
        </div>
        <div th:if="${param.resetPass}">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    createToast('success', 'fa-solid fa-circle-check', 'Thành công', 'Mật khẩu đã được thay đổi thành công.');
                });
            </script>
        </div>
    </div>
    <!-- Auth intro -->
    <div class="auth__intro d-md-none">
        <img th:src="@{/user/assets/img/auth/intro.svg}" alt="" class="auth__intro-img" />
        <p class="auth__intro-text">
            Giá trị thương hiệu cao cấp nhất, sản phẩm chất lượng cao và dịch vụ sáng tạo nhất.
        </p>
    </div>
    <!-- Toast -->
    <div class="notifications"></div>
    <!-- Auth content -->
    <div class="auth__content">
        <div class="auth__content-inner">
            <a href="" class="logo">
                <img th:src="@{/user/assets/icons/logo.svg}" alt="grocerymart" class="logo__img" />
                <h2 class="logo__title">Tona mart</h2>
            </a>
            <h1 class="auth__heading">Xin chào!</h1>
            <p class="auth__desc">
                Chào mừng bạn quay lại đăng nhập. Với tư cách là khách hàng cũ, bạn có quyền truy cập vào tất cả thông tin đã lưu trước đó của mình.
            </p>
            <form action="/login" method="post"  class="form auth__form">
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                type="text"
                                name="username"
                                placeholder="Username hoặc Email"
                                class="form__input"
                        />
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                class="form__input"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <p class="form__error show" th:if="${param.error}" th:text="${param.message}">
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="form__group form__group--inline">
                    <a href="/forgot-password" class="auth__link form__pull-right">Quên mật khẩu?</a>
                </div>
                <div class="form__group auth__btn-group">
                    <button class="btn btn--primary auth__btn form__submit-btn">Đăng nhập</button>
                </div>
            </form>

            <p class="auth__text">
                Bạn chưa có tài khoản?
                <a href="/register" class="auth__link auth__text-link">Đăng kí</a>
            </p>
        </div>
    </div>
</main>
<!-- Scripts -->
<script th:src="@{/user/assets/js/ajax.js}"></script>
<script th:src="@{/user/assets/js/loader.js}"></script>
</body>
</html>
